.login_container {
    background-image: url(../../assets/images/uta.jpeg);
    background-repeat: no-repeat;
    background-color: #0f0f10;
    background-size: cover;
    background-position: top;
    width: 1280px;
    border-radius: 20px;
    padding-top: 150px;
    height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;

}

form input {
    width: 250px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.switch {
    text-align: center;
    margin-top: 10px;
}

.switch a {
    color: #28a745;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}

span {
    color: white;
}



