.adventure-section {
    text-align: center;
    padding: 50px 20px;
    
  }
  
  .adventures {
    display: flex;
    justify-content: center;
    gap: 20px;
    left: 258px;
    right: 259px;
    max-width: 1070px;
  }
  
  .adventure {
    max-width: 200px;
  }
  
  .adventure img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }

  .adventure p{
    color: white;
    text-decoration: none;
  }

  
  