.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #141416;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.navigation{
   display: flex;
   align-items: center;
}

.navigation a,
.list-property {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.list-property {
  background-color: #1E90FF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
}

.logo img {

  width: 40px;
  height: 40px;
}

.account {
  width: 36px;
  height: 36px;
}